<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSpot</title>
    <link rel="stylesheet" href="/stylesheets/styleIndex.css">
</head>
<body>
    <h1>
        Welcome to blogspot.
    </h1>
    <a class="login" href="/login">login</a>
    <br>
    <br>
    <a class="sign-up" href="/index">sign-up</a>
</body>
</html>